{% extends 'resume/layout.html' %}
{% load static %}
{% block title %}<title>CV Builder | My Resumes</title>{% endblock %}
{% block content %}
    <div class="wrapper">
    {% for resume in resumes %}
       <div class="resume-box">
            <div class="container">
                <p class="resume-name">{{ resume.name }}</p>
                <p>Created on {{ resume.created_at }}</p>

                <div class="button-row">
                    <a href="{% url 'delete-resume' pk=resume.id %}" class="confirm-delete">Delete</a>
                    <a href="{% url 'edit-resume' pk=resume.id %}" class="edit-resume">Edit</a>
                    <a href="{% url 'choose' pk=resume.id %}" class="view-resume">View</a>

                </div> 
            </div>
        </div>
    {% empty %}
        <div class="empty-state-box">
            <img src="{% static 'resume/images/resume-empty-icon.png' %}" class="centered">
            <p class="empty-state-text"><b>You do not have any Resumes now </b><br>Create one and
                start building your  First Resume Page</p>
        </div>

    {% endfor %}
        <div class="button-box btn-md" style="border-radius: 10px;">
            <a href="{% url 'create-resume' %}" class="button btn-info">Create Resume</a>
        </div>

    </div>
{% endblock %}
