{% extends 'resume/layout.html' %}
{% load static %}
{% block title %}<title>CV Builder | My Resumes</title>{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">     
    
    {% for resume in resumes %}
        <div class="col-md-4">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header"><h4> {{ resume.name }} </h4></div>
              <div class="card-body">
                <h5 class="card-title">Resume</h5>
                <p class="card-text"> {{ resume.id }}</p>
              </div>
              <div class="card-footer">
                  <button class="btn btn-primary mr-4 text" ><a href="{% url 'choose' pk=resume.id %}" style="text-decoration:none;color: white;">View</a></button>

                  <button class="btn btn-success m-1"><a href="{% url 'edit-resume' pk=resume.id %}" style="text-decoration:none;color: white;">Edit</a></button>

                  <button class="btn btn-danger m-1"><a href="{% url 'choose' pk=resume.id %}" style="text-decoration:none;color: white;">Delete</a></button>
              </div>
            </div>
        </div>
    </div>
    {% empty %}
        <div class="empty-state-box">
            <img src="{% static 'resume/images/resume-empty-icon.png' %}" class="centered">
            <p class="empty-state-text"><b>You do not have any Resumes now </b><br>Create one and start building your  First Resume Page</p>
        </div>
    {% endfor %}
        <div class="button-box btn-md" style="border-radius: 10px;">
            <a href="{% url 'create-resume' %}" class="button btn-info btn-md">Create Resume</a>
        </div>
{% endblock %}
